 @import "../../common/sass/_mixin.scss";
 .header {
   color: #fff;
   position: relative;
   background-color: rgba(7, 17, 27, 0.5);
   overflow: hidden;
   //    商户信息
   .content-warpper {
     padding: 24px 12px 18px 24px;
     font-size: 0;
     position: relative;
     //  头像
     .avatar {
       display: inline-block;
       font-size: 14px;
       vertical-align: top;
       img {
         border-radius: 2px;
       }
     }
     .content {
       display: inline-block;
       margin-left: 16px;
       vertical-align: top;
       //    店铺名称
       .title {
         margin: 2px 0 8px 0;
         .brand {
           display: inline-block;
           width: 30px;
           height: 18px;
           @include bg-img('./imgs/brand');
           background-size: cover;
           background-repeat: no-repeat;
           vertical-align: top;
         }
         .name {
           margin-left: 6px;
           font-size: 16px;
           line-height: 18px;
           vertical-align: top;
           font-weight: bold;
         }
       }
       //    派送
       .description {
         margin-bottom: 10px;
         line-height: 12px;
         font-size: 12px;
       }
       //    优惠
       .supports {
         .icon {
           display: inline-block;
           width: 12px;
           height: 12px;
           margin-right: 4px;
           background-size: cover;
           background-repeat: no-repeat;
           vertical-align: top;
           &.decrease {
             @include bg-img('./imgs/decrease_1');
           }
           &.discount {
             @include bg-img('./imgs/discount_1');
           }
           &.guarantee {
             @include bg-img('./imgs/guarantee_1');
           }
           &.invoice {
             @include bg-img('./imgs/invoice_1');
           }
           &.special {
             @include bg-img('./imgs/special_1');
           }
         }
         .text {
           line-height: 12px;
           font-size: 10px;
           vertical-align: top;
         }
       }
     }
     //  优惠条数
     .support-content {
       position: absolute;
       right: 12px;
       bottom: 14px;
       padding: 0 8px;
       height: 24px;
       line-height: 24px;
       border-radius: 14px;
       background-color: rgba(0, 0, 0, 0.2);
       text-align: center;
       font-size: 0px;
       span {
         display: inline-block;
         color: #fff;
         vertical-align: middle;
         font-size: 10px;
       }
       i {
         display: inline-block;
         color: #fff;
         vertical-align: middle;
         font-size: 10px;
       }
     }
   }
   //    公告
   .bulletin-warpper {
     position: relative;
     height: 14px;
     line-height: 14px;
     padding: 8px 22px 8px 12px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     background: rgba(7, 17, 27, 0.2);
     .bulletin-title {
       display: inline-block;
       width: 22px;
       height: 12px;
       background-size: 22px 12px;
       @include bg-img('./imgs/bulletin');
       background-repeat: no-repeat;
       vertical-align: top;
       margin-top: 1px;
     }
     .bulletin-text {
       font-size: 10px;
       color: #fff;
       vertical-align: top;
       margin: 0 4px;
     }
     i {
       display: inline-block;
       color: #fff;
       vertical-align: middle;
       font-size: 10px;
       position: absolute;
       right: 10px;
       top: 50%;
       margin-top: -5px;
     }
   }
   //    背景模糊层
   .background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     filter: blur(10px);
   }
   .detail {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     overflow: auto;
     transition: all .5s;
     background-filter:blur(10px);
     &.fade-transition{
       opacity: 1;
       background: rgba(7, 17, 27, 0.8);
     }
    &.fade-enter, &.fade-leave{
       opacity: 0;
       background: rgba(7, 17, 27, 0);
     }
   }
   .detail-warpper {
     width: 100%;
     min-height: 100%;
     .detail-main {
       margin-top: 64px;
       padding-bottom: 64px;
       .name {
         line-height: 16px;
         text-align: center;
         font-size: 16px;
         font-weight: 700;
       }
       .star-wapper {
         margin-top: 18px;
         padding: 2px 0;
         text-align: center;
       }
       .title {
         width: 80%;
         margin: 20px auto 24px auto;
         display: flex;
         .line {
           flex: 1;
           position: relative;
           top: -6px;
           border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         }
         .text {
           padding: 0 12px;
           font-size: 12px;
           font-weight: 700;
         }
       }
       .supports {
         width: 80%;
         margin: 0 auto;
         .supports-item {
           padding: 0 12px;
           margin-bottom: 12px;
           font-size: 0;
           &:last-of-type {
             margin-bottom: 0;
           }
           .icon {
             display: inline-block;
             width: 16px;
             height: 16px;
             vertical-align: top;
             margin-right: 6px;
             background-size: cover;
             background-repeat: no-repeat;
             &.decrease {
               @include bg-img('./imgs/decrease_2');
             }
             &.discount {
               @include bg-img('./imgs/discount_2');
             }
             &.guarantee {
               @include bg-img('./imgs/guarantee_2');
             }
             &.invoice {
               @include bg-img('./imgs/invoice_2');
             }
             &.special {
               @include bg-img('./imgs/special_2');
             }
           }
           .text{
             line-height: 16px;
             height: 12px;
             font-size: 12px;
           }
         }
       }
       .bulletin{
         width: 80%;
         margin: 0 auto;
         .content{
           padding: 0 12px;
           line-height: 24px;
           font-size: 12px;
           font-weight: 200;
         }
       }
     }
   }
   .detail-close {
     position: relative;
     width: 32px;
     height: 32px;
     margin: -64px auto 0 auto;
     clear: both;
     font-size: 32px;
     i {
       display: block;
     }
   }
 }
