 @import "../../common/sass/_mixin.scss";
 .header {
   background: #999;
   color: #fff;
   .content-warpper {
     padding: 24px 12px 18px 24px;
     font-size: 0;
     position: relative;
     .avatar {
       display: inline-block;
       font-size: 14px;
       vertical-align: top;
       img{
           border-radius: 2px;
       }
     }
     .content {
       display: inline-block;
       margin-left: 16px;
       vertical-align: top;
       .title {
         margin: 2px 0 8px 0;
         .brand {
           display: inline-block;
           width: 30px;
           height: 18px;
           @include bg-img('./imgs/brand');
           background-size: cover;
           background-repeat: no-repeat;
           vertical-align: top;
         }
         .name {
           margin-left: 6px;
           font-size: 16px;
           line-height: 18px;
           vertical-align: top;
           font-weight: bold;
         }
       }
       .description {
         margin-bottom: 10px;
         line-height: 12px;
         font-size: 12px;
       }
       .supports{
           .icon{
               display: inline-block;
               width: 12px;
               height: 12px;
               margin-right: 4px;
               background-size: cover;
               background-repeat: no-repeat;
               vertical-align: top;
               &.decrease{
                   @include bg-img('./imgs/decrease_1');
               }
               &.discount{
                   @include bg-img('./imgs/discount_1');
               }
               &.guarantee{
                   @include bg-img('./imgs/guarantee_1');
               }
               &.invoice{
                   @include bg-img('./imgs/invoice_1');
               }
               &.special{
                   @include bg-img('./imgs/special_1');
               }
           }
           .text{
               line-height: 12px;
               font-size: 10px;
               vertical-align: top;
           }
       }
     }
     .support-content{
         position: absolute;
         right: 12px;
         bottom: 18px;
         padding: 0 8px;
         height: 24px;
         line-height: 24px; 
         border-radius: 14px;
         background-color: rgba(0,0,0,0.2);
         text-align: center;
         font-size: 0px;
         span{
             display: inline-block;
             color: #fff;
             vertical-align: middle;
             font-size: 10px;
         }
         i{
             display: inline-block;
             color: #fff;
             vertical-align: middle;
             font-size: 10px;
         }
     }
   }
 }
